@import url(http://fonts.googleapis.com/css?family=Roboto:500,900italic,900,400italic,100,700italic,300,700,500italic,100italic,300italic,400);
/*
// Mixins
@import "components/prefixer";
@import "components/mixins";
@import "components/color";

// Variables;
@import "components/variables";
@import "partials/variables";

// Reset
@import "components/normalize";

// components
@import "components/global";
@import "components/icons-material-design";
@import "components/navbar";
@import "components/typography";
//@import "components/cards";
@import "components/toast";
@import "components/tabs";
@import "components/tooltip";
@import "components/buttons";
@import "components/dropdown";
@import "components/waves";
@import "components/modal";
@import "components/collapsible";
@import "components/materialbox";
@import "components/form";
@import "components/table_of_contents";
@import "components/sideNav";
@import "components/preloader";
@import "components/slider";
@import "components/date_picker/default.scss";
@import "components/date_picker/default.date.scss";
@import "components/date_picker/default.time.scss";

//partials
@import "partials/global";
@import "partials/shadows";
@import "partials/typography";
@import "partials/grid";
@import "partials/block_grid";
@import "partials/paper_elements";
@import "partials/cards";
@import "partials/buttons";
@import "partials/floating_action_button";
@import "partials/display.scss";
@import "partials/work_cards.scss";
@import "partials/revealed_cards.scss";*/
/*** Global ***/
/*** Colors ***/
/*** Typography ***/
/*** Navbar ***/
/*
.z1-shadow{
    @include box-shadow-2(0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12));
}
.z1-half-shadow{
    @include box-shadow-2(0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15));
}
.z2-shadow{
    @include box-shadow-2(0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19));
}
.z3-shadow{
    @include box-shadow-2(0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19));
}*/
.z4-shadow {
  box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21); }

.z5-shadow {
  box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22); }

.animated-shadow {
  -webkit-transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1); }

.flat-shadow {
  box-shadow: 0 0, 0 0; }

.resting-shadow, .paper-sheet.stepped, .stepped#toolbar, #toolbar.waterfall, .floating-action-button {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }

.raised-shadow {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15); }

.floating-shadow, .floating-action-button:hover {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

.elevated-shadow {
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19); }

.black54, .d4, .d3, .d2, .d1, .caption {
  color: #757575;
  color: rgba(0, 0, 0, 0.54); }

.black87, html {
  color: #212121;
  color: rgba(0, 0, 0, 0.87); }

.white54 {
  color: #939393; }

.white87 {
  color: #e7e7e7; }

html {
  font-family: "Roboto","Noto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.72; }

.d4 {
  font-size: 8rem;
  line-height: 1.03;
  font-weight: 300; }

.d3 {
  font-size: 4rem;
  line-height: 1.04; }

.d2 {
  font-size: 3.21rem;
  line-height: 1.06; }

.d1 {
  font-size: 2.43rem;
  line-height: 1.18; }

.headline {
  font-size: 1.71rem;
  line-height: 1.33; }

.title {
  font-size: 1.43rem;
  font-weight: 500;
  line-height: 1.43; }

.subhead {
  font-size: 1.14rem;
  line-height: 1.75; }

.b2, button {
  font-size: 1rem;
  font-weight: 500; }

.b1 {
  font-size: 1rem; }

.caption {
  font-size: 0.86rem; }

button {
  text-transform: uppercase; }

em {
  font-style: italic; }

strong {
  font-weight: 700; }

small {
  font-size: 75%; }

.light {
  font-weight: 300; }

#layout {
  margin: 0 auto;
  width: 100%; }

.paper-sheet, #toolbar {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px; }
  .paper-sheet.seamed, .seamed#toolbar {
    margin-top: 0;
    margin-bottom: 0; }
  .paper-sheet.stepped, .stepped#toolbar {
    position: absolute; }
  .paper-sheet:after, #toolbar:after {
    content: "";
    display: table;
    clear: both; }
  .paper-sheet .col, #toolbar .col {
    float: left;
    box-sizing: border-box; }
    .paper-sheet .col.s1, #toolbar .col.s1 {
      width: 8.33333%;
      margin-left: 0; }
    .paper-sheet .col.s2, #toolbar .col.s2 {
      width: 16.66667%;
      margin-left: 0; }
    .paper-sheet .col.s3, #toolbar .col.s3 {
      width: 25%;
      margin-left: 0; }
    .paper-sheet .col.s4, #toolbar .col.s4 {
      width: 33.33333%;
      margin-left: 0; }
    .paper-sheet .col.s5, #toolbar .col.s5 {
      width: 41.66667%;
      margin-left: 0; }
    .paper-sheet .col.s6, #toolbar .col.s6 {
      width: 50%;
      margin-left: 0; }
    .paper-sheet .col.s7, #toolbar .col.s7 {
      width: 58.33333%;
      margin-left: 0; }
    .paper-sheet .col.s8, #toolbar .col.s8 {
      width: 66.66667%;
      margin-left: 0; }
    .paper-sheet .col.s9, #toolbar .col.s9 {
      width: 75%;
      margin-left: 0; }
    .paper-sheet .col.s10, #toolbar .col.s10 {
      width: 83.33333%;
      margin-left: 0; }
    .paper-sheet .col.s11, #toolbar .col.s11 {
      width: 91.66667%;
      margin-left: 0; }
    .paper-sheet .col.s12, #toolbar .col.s12 {
      width: 100%;
      margin-left: 0; }
    .paper-sheet .col.offset-s1, #toolbar .col.offset-s1 {
      margin-left: 8.33333%; }
    .paper-sheet .col.offset-s2, #toolbar .col.offset-s2 {
      margin-left: 16.66667%; }
    .paper-sheet .col.offset-s3, #toolbar .col.offset-s3 {
      margin-left: 25%; }
    .paper-sheet .col.offset-s4, #toolbar .col.offset-s4 {
      margin-left: 33.33333%; }
    .paper-sheet .col.offset-s5, #toolbar .col.offset-s5 {
      margin-left: 41.66667%; }
    .paper-sheet .col.offset-s6, #toolbar .col.offset-s6 {
      margin-left: 50%; }
    .paper-sheet .col.offset-s7, #toolbar .col.offset-s7 {
      margin-left: 58.33333%; }
    .paper-sheet .col.offset-s8, #toolbar .col.offset-s8 {
      margin-left: 66.66667%; }
    .paper-sheet .col.offset-s9, #toolbar .col.offset-s9 {
      margin-left: 75%; }
    .paper-sheet .col.offset-s10, #toolbar .col.offset-s10 {
      margin-left: 83.33333%; }
    .paper-sheet .col.offset-s11, #toolbar .col.offset-s11 {
      margin-left: 91.66667%; }
    .paper-sheet .col.offset-s12, #toolbar .col.offset-s12 {
      margin-left: 100%; }
    @media only screen and (min-width : 601px) {
      .paper-sheet .col.m1, #toolbar .col.m1 {
        width: 8.33333%;
        margin-left: 0; }
      .paper-sheet .col.m2, #toolbar .col.m2 {
        width: 16.66667%;
        margin-left: 0; }
      .paper-sheet .col.m3, #toolbar .col.m3 {
        width: 25%;
        margin-left: 0; }
      .paper-sheet .col.m4, #toolbar .col.m4 {
        width: 33.33333%;
        margin-left: 0; }
      .paper-sheet .col.m5, #toolbar .col.m5 {
        width: 41.66667%;
        margin-left: 0; }
      .paper-sheet .col.m6, #toolbar .col.m6 {
        width: 50%;
        margin-left: 0; }
      .paper-sheet .col.m7, #toolbar .col.m7 {
        width: 58.33333%;
        margin-left: 0; }
      .paper-sheet .col.m8, #toolbar .col.m8 {
        width: 66.66667%;
        margin-left: 0; }
      .paper-sheet .col.m9, #toolbar .col.m9 {
        width: 75%;
        margin-left: 0; }
      .paper-sheet .col.m10, #toolbar .col.m10 {
        width: 83.33333%;
        margin-left: 0; }
      .paper-sheet .col.m11, #toolbar .col.m11 {
        width: 91.66667%;
        margin-left: 0; }
      .paper-sheet .col.m12, #toolbar .col.m12 {
        width: 100%;
        margin-left: 0; }
      .paper-sheet .col.offset-m1, #toolbar .col.offset-m1 {
        margin-left: 8.33333%; }
      .paper-sheet .col.offset-m2, #toolbar .col.offset-m2 {
        margin-left: 16.66667%; }
      .paper-sheet .col.offset-m3, #toolbar .col.offset-m3 {
        margin-left: 25%; }
      .paper-sheet .col.offset-m4, #toolbar .col.offset-m4 {
        margin-left: 33.33333%; }
      .paper-sheet .col.offset-m5, #toolbar .col.offset-m5 {
        margin-left: 41.66667%; }
      .paper-sheet .col.offset-m6, #toolbar .col.offset-m6 {
        margin-left: 50%; }
      .paper-sheet .col.offset-m7, #toolbar .col.offset-m7 {
        margin-left: 58.33333%; }
      .paper-sheet .col.offset-m8, #toolbar .col.offset-m8 {
        margin-left: 66.66667%; }
      .paper-sheet .col.offset-m9, #toolbar .col.offset-m9 {
        margin-left: 75%; }
      .paper-sheet .col.offset-m10, #toolbar .col.offset-m10 {
        margin-left: 83.33333%; }
      .paper-sheet .col.offset-m11, #toolbar .col.offset-m11 {
        margin-left: 91.66667%; }
      .paper-sheet .col.offset-m12, #toolbar .col.offset-m12 {
        margin-left: 100%; } }
    @media only screen and (min-width : 993px) {
      .paper-sheet .col.l1, #toolbar .col.l1 {
        width: 8.33333%;
        margin-left: 0; }
      .paper-sheet .col.l2, #toolbar .col.l2 {
        width: 16.66667%;
        margin-left: 0; }
      .paper-sheet .col.l3, #toolbar .col.l3 {
        width: 25%;
        margin-left: 0; }
      .paper-sheet .col.l4, #toolbar .col.l4 {
        width: 33.33333%;
        margin-left: 0; }
      .paper-sheet .col.l5, #toolbar .col.l5 {
        width: 41.66667%;
        margin-left: 0; }
      .paper-sheet .col.l6, #toolbar .col.l6 {
        width: 50%;
        margin-left: 0; }
      .paper-sheet .col.l7, #toolbar .col.l7 {
        width: 58.33333%;
        margin-left: 0; }
      .paper-sheet .col.l8, #toolbar .col.l8 {
        width: 66.66667%;
        margin-left: 0; }
      .paper-sheet .col.l9, #toolbar .col.l9 {
        width: 75%;
        margin-left: 0; }
      .paper-sheet .col.l10, #toolbar .col.l10 {
        width: 83.33333%;
        margin-left: 0; }
      .paper-sheet .col.l11, #toolbar .col.l11 {
        width: 91.66667%;
        margin-left: 0; }
      .paper-sheet .col.l12, #toolbar .col.l12 {
        width: 100%;
        margin-left: 0; }
      .paper-sheet .col.offset-l1, #toolbar .col.offset-l1 {
        margin-left: 8.33333%; }
      .paper-sheet .col.offset-l2, #toolbar .col.offset-l2 {
        margin-left: 16.66667%; }
      .paper-sheet .col.offset-l3, #toolbar .col.offset-l3 {
        margin-left: 25%; }
      .paper-sheet .col.offset-l4, #toolbar .col.offset-l4 {
        margin-left: 33.33333%; }
      .paper-sheet .col.offset-l5, #toolbar .col.offset-l5 {
        margin-left: 41.66667%; }
      .paper-sheet .col.offset-l6, #toolbar .col.offset-l6 {
        margin-left: 50%; }
      .paper-sheet .col.offset-l7, #toolbar .col.offset-l7 {
        margin-left: 58.33333%; }
      .paper-sheet .col.offset-l8, #toolbar .col.offset-l8 {
        margin-left: 66.66667%; }
      .paper-sheet .col.offset-l9, #toolbar .col.offset-l9 {
        margin-left: 75%; }
      .paper-sheet .col.offset-l10, #toolbar .col.offset-l10 {
        margin-left: 83.33333%; }
      .paper-sheet .col.offset-l11, #toolbar .col.offset-l11 {
        margin-left: 91.66667%; }
      .paper-sheet .col.offset-l12, #toolbar .col.offset-l12 {
        margin-left: 100%; } }

#toolbar {
  width: 100%;
  height: 56px;
  line-height: 56px; }
  #toolbar.waterfall {
    margin-top: 0;
    margin-bottom: 0; }

@media only screen and (min-width : 601px) {
  #toolbar {
    height: 64px;
    line-height: 64px; } }

.floating-action-button {
  background-color: #fff;
  bottom: -28px;
  width: 56px;
  height: 56px;
  line-height: 56px;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  border-radius: 50%;
  z-index: 1000;
  -webkit-transition: all 0.28s cubic-bezier(0.4, 0, 0.2, 1);
          transition: all 0.28s cubic-bezier(0.4, 0, 0.2, 1); }
  .floating-action-button.colored {
    background-color: teal; }
  .floating-action-button.pull-left {
    right: auto;
    left: 0; }
  .floating-action-button.pull-right {
    left: auto;
    right: 0; }

@media only screen and (min-width : 601px) {
  .floating-action-button {
    width: 64px;
    height: 64px;
    line-height: 64px; } }
