@mixin box-shadow-2($args1, $args2) {
    -webkit-box-shadow: $args1, $args2;
    -moz-box-shadow: $args1, $args2;
    box-shadow: $args1, $args2;
}

@mixin natural-shadow($key, $ambient) {
    -webkit-box-shadow: $key, $ambient;
    -moz-box-shadow: $key, $ambient;
    box-shadow: $key, $ambient;
}
