.work-card {
    @extend .card;
    margin:0;
    .work-card-title {
        @extend .card-title;
        position: absolute;
        bottom: 0;
        left: 0;
        padding: $card-padding;
    }
    .work-card-image {
        @extend .card-image;
        position:static;
        filter:grayscale(1);
    }
    .work-card-action {
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        max-width: 40px;
        max-height: 40px;
    }
    .work-card-overlay,{
        position: absolute;
        margin: auto;
        top: -25%;
        left: -25%;
        width:150%;
        height:150%;
        border-radius:50%;
        transform: scale3d(1.5,1.5,1.5);
        @include transition(.28s ease);
        &.off{
            transform: scale3d(0,0,0);
        }
    }
    .work-card-info{
        position: absolute;
        top:0;
        left:0;
    }
}
