/*** Global ***/
// Media Query Ranges
$small-screen-up: 601px !default;
$medium-screen-up: 993px !default;
$large-screen-up: 1201px !default;
$small-screen: 600px !default;
$medium-screen: 992px !default;
$large-screen: 1200px !default;

$medium-and-up: "only screen and (min-width : #{$small-screen-up})" !default;
$large-and-up: "only screen and (min-width : #{$medium-screen-up})" !default;
$small-and-down: "only screen and (max-width : #{$small-screen})" !default;
$medium-and-down: "only screen and (max-width : #{$medium-screen})" !default;
$medium-only: "only screen and (min-width : #{$small-screen-up}) and (max-width : #{$medium-screen})" !default;

/*** Align variables ***/
$baseline-grid-size: 8px !default;
$square-grid-size: 4px !default;

/*** Colors ***/



/*** Typography ***/
$roboto-font-path: "font/roboto/" !default;
$noto-font-path: "font/noto-sans/" !default;
$icons-font-path: "font/material-design-icons/" !default;

$thin: 100 !default;
$light: 300 !default;
$regular: 400 !default;
$medium: 500 !default;
$bold: 700 !default;
$black: 900 !default;

/*** Navbar ***/
$toolbar-height: 64px !default;
$toolbar-height-mobile: 56px !default;


/*** Grid ***/

$cols_num: 12 !default;
