.card {
	position: relative;
	border-radius: 2px;
	@extend .resting-shadow;
	.card-area {
		display: block;
		position: relative;
		width: 100%;
		padding: $content-padding;
		background-color: #fff;
		@extend .black87;
		margin: 0;
	}
	.card-header {}
	.card-media {
		position: relative;
		padding: 0;
		img {
			display: block;
			position: relative;
			width: 100%;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
		}
		.card-scrim {
			position: absolute;
			bottom: 0;
			left: 0;
			background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
			opacity: 0.1;
			width: 100%;
			height: $content-padding * 5;
		}
		.card-title {
			position: absolute;
			bottom: 0;
			left: 0;
			padding: $content-padding;
			@extend .title;
			color: #fff;
		}
	}
	.card-support-text {
		@extend .card-area;
		@extend .b1;
		&.truncated {
			height: 72px;
			overflow: hidden;
			/*&:first-line {
				color: red;
			}*/
			&:before,
			&:after {
				content: "";
				display: table;
			}
			&:before {
				content: "...";
				display: table;
				height: $content-padding;
				padding: 0 $content-padding;
				position: absolute;
				bottom: 0;
				left: 0;
				background-color: #fff;
				width: 100%;
			}
			&:after {
				clear: both;
			}
		}
	}
	.card-actions {
		@extend .card-area;
		height: 7 * $main-grid-size;
		border-top: 1px solid rgba(0, 0, 0, 0.12);
		padding: $content-padding;
		.action {
			display: inline-block;
			@extend .b2;
			color: color("orange", "accent-2");
			margin-right: $content-padding;
			transition: color 0.3s ease;
			text-transform: uppercase;
			&:hover {
				color: lighten(color("orange", "accent-2"), 20%);
			}
		}
		.pull-right {
			float: right;
			margin-left: $content-padding;
			margin-right: 0;
		}
		button {
			margin: 0;
		}
	}
	&.colored {
		.card-area {
			background-color: #fff;
			color: $primary-color;
		}
		.card-actions {
			border-top: 1px solid rgba(255, 255, 255, 0.12);
		}
	}
}
