.floating-action-button {
	background-color: #fff;
	bottom: $toolbar-height / -2;
	width: $toolbar-height;
	height: $toolbar-height;
	line-height: $toolbar-height;
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	border-radius: 50%;
	z-index: 1;
	@extend .resting-shadow;
	transition: all 0.28s cubic-bezier(0.4, 0, 0.2, 1);
	&.colored {
		background-color: teal;
	}
	&.pull-left {
		right: auto;
		left: $content-padding;
	}
	&.pull-right {
		left: auto;
		right: $content-padding;
	}
	&:hover {
		@extend .floating-shadow;
	}
}

@media #{$medium-and-up} {
	.floating-action-button {
		width: $toolbar-height-large;
		height: $toolbar-height-large;
		line-height: $toolbar-height-large;
	}
}
