.grid {
  &.collapsed {
	& > .tile {
	  padding: 0;
	}
  }
  & > .tile {
	float: left;
	position: relative;
	box-sizing: border-box;
	padding: $square-grid-size;
  }
  $i: 1;
  @while $i <= $cols-num {
	$perc: unquote((100 / $i) + "%");
	&.g-s#{$i} > .tile {
	  width: $perc;
	}
	&.g-s#{$i} > .tile:nth-of-type(1n) {
	  clear: none;
	}
	&.g-s#{$i} > .tile:nth-of-type(#{$i}n+1) {
	  clear: both;
	}
	$i: $i + 1;
  }
  @media #{$medium-and-up} {
	$i: 1;
	@while $i <= $cols-num {
	  $perc: unquote((100 / $i) + "%");
	  &.g-m#{$i} > .tile {
		width: $perc;
	  }
	  &.g-m#{$i} > .tile:nth-of-type(1n) {
		clear: none;
	  }
	  &.g-m#{$i} > .tile:nth-of-type(#{$i}n+1) {
		clear: both;
	  }
	  $i: $i + 1;
	}
  }
  @media #{$large-and-up} {
	$i: 1;
	@while $i <= $cols-num {
	  $perc: unquote((100 / $i) + "%");
	  &.g-l#{$i} > .tile {
		width: $perc;
	  }
	  &.g-l#{$i} > .tile:nth-of-type(1n) {
		clear: none;
	  }
	  &.g-l#{$i} > .tile:nth-of-type(#{$i}n+1) {
		clear: both;
	  }
	  $i: $i + 1;
	}
  }
}
