#content-area {
	margin: 0 auto;
	width: 100%;
	padding: $inner-grid-size;
}

.row {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	/*padding-left: $inner-grid-size;
	padding-right: $inner-grid-size;*/
	margin-bottom: $main-grid-size;
	&:before,
	&:after {
		content: "";
		display: table;
	}
	&:after {
		clear: both;
	}
	.row{
		/*padding: 0;*/
		margin: $inner-grid-size * -1;
	}
	.col {
		float: left;
		box-sizing: border-box;
		padding: $inner-grid-size;
		$i: 1;
		@while $i <= $cols-num {
			$perc: unquote(100 / ($cols-num / $i) + "%");
			&.s#{$i} {
				width: $perc;
				margin-left: 0;
			}
			$i: $i + 1;
		}
		$i: 1;
		@while $i <= $cols-num {
			$perc: unquote(100 / ($cols-num / $i) + "%");
			&.offset-s#{$i} {
				margin-left: $perc;
			}
			$i: $i + 1;
		}
		@media #{$medium-and-up} {
			$i: 1;
			@while $i <= $cols-num {
				$perc: unquote(100 / ($cols-num / $i) + "%");
				&.m#{$i} {
					width: $perc;
					margin-left: 0;
				}
				$i: $i + 1;
			}
			$i: 1;
			@while $i <= $cols-num {
				$perc: unquote(100 / ($cols-num / $i) + "%");
				&.offset-m#{$i} {
					margin-left: $perc;
				}
				$i: $i + 1;
			}
		}
		@media #{$large-and-up} {
			$i: 1;
			@while $i <= $cols-num {
				$perc: unquote(100 / ($cols-num / $i) + "%");
				&.l#{$i} {
					width: $perc;
					margin-left: 0;
				}
				$i: $i + 1;
			}
			$i: 1;
			@while $i <= $cols-num {
				$perc: unquote(100 / ($cols-num / $i) + "%");
				&.offset-l#{$i} {
					margin-left: $perc;
				}
				$i: $i + 1;
			}
		}
	}
}
