.paper{
    background-color: #fdfdfd;
    overflow: hidden;
}

#toolbar{
    @extend .paper;
    @extend .z1-shadow;
    width: 100%;
    height: $toolbar-height-mobile;
    line-height: $toolbar-height-mobile;
}
@media #{$medium-and-up} {
  #toolbar {
    height: $toolbar-height;
    line-height: $toolbar-height;
  }
}
