.paper {
	position: relative;
	border-radius: 2px;
	width: 100%;
	padding: $content-padding;
	margin: 0;
	overflow: hidden;
	.title {
		@extend .headline;
		display: block;
		margin-bottom: 1.5 * $vertical-sizing;
	}
	.content {
		@extend .subhead;
		@extend .secondary;
		display: block;
	}
	.media {
		position: relative;
		margin: -$content-padding;
		& > img {
			position: relative;
		}
		& > .title {
			@extend .headline;
			position: absolute;
			color: #fff;
			bottom: 0;
			left: 0;
			margin: 0;
			padding: $content-padding;
		}
	}
	.scrim {
		position: absolute;
		left: 0;
		width: 100%;
		height: $toolbar-height;
		&.top {
			top: 0;
			background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
		}
		&.bottom {
			bottom: 0;
			background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
		}
	}
	.avatar {
		position: relative;
		width: 5 * $vertical-sizing;
		height: 5 * $vertical-sizing;
		overflow: hidden;
		border-radius: 50%;
	}
	.action {
		position: relative;
		width: 3 * $vertical-sizing;
		height: 3 * $vertical-sizing;
		overflow: hidden;
	}
	&.activated, .activated{
		background-color: $primary-color;
		color: rgba(255, 255, 255, 1);
		.secondary {
			color: rgba(255, 255, 255, 0.7);
		}
		.content {
			color: rgba(255, 255, 255, 0.7);
		}
		.disabled {
			color: rgba(255, 255, 255, 0.3);
		}
		.divider {
			background-color: rgba(255, 255, 255, 0.12);
		}
	}
}
