/*** Global ***/
// Media Query Ranges
$small-screen-up: 601px !default;
$medium-screen-up: 993px !default;
$large-screen-up: 1201px !default;
$small-screen: 600px !default;
$medium-screen: 992px !default;
$large-screen: 1200px !default;

$medium-and-up: "only screen and (min-width : #{$small-screen-up})" !default;
$large-and-up: "only screen and (min-width : #{$medium-screen-up})" !default;
$small-and-down: "only screen and (max-width : #{$small-screen})" !default;
$medium-and-down: "only screen and (max-width : #{$medium-screen})" !default;
$medium-only: "only screen and (min-width : #{$small-screen-up}) and (max-width : #{$medium-screen})" !default;

/*** Align variables ***/
$main-grid-size: 8px !default;
$inner-grid-size: 4px !default;
$content-padding: 4*$inner-grid-size !default;

/*** Colors ***/
$primary-color: color("teal", "base") !default;
$primary-color-light: color("teal", "lighten-3") !default;
$primary-color-dark: color("teal", "darken-3") !default;

$secondary-color: color("teal", "lighten-1") !default;
$success-color: color("green", "base") !default;
$error-color: color("red", "base") !default;
$link-color: color("light-blue", "darken-1") !default;


/*** Typography ***/
$roboto-font-path: "font/roboto/" !default;
$noto-font-path: "font/noto-sans/" !default;
$icons-font-path: "font/material-design-icons/" !default;

$thin: 100 !default;
$light: 300 !default;
$regular: 400 !default;
$medium: 500 !default;
$bold: 700 !default;
$black: 900 !default;

/*** Navbar ***/
$toolbar-height: 7*$main-grid-size !default;
$toolbar-height-large: 8*$main-grid-size !default;
$extended-toolbar-height: 10*$main-grid-size !default;
$floating-toolbar-height: 6*$main-grid-size !default;



/*** Grid ***/
$cols_num: 12 !default;

/*** Cards ***/
